In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data_sf.csv.xls')

In [3]:
small_df = df[df.columns[1:8]].head(25)
small_df

,Name,Age,Nationality,Club,Value,Wage,Position
0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF
1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST
2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW
3,De Gea,27,Spain,Manchester United,72000000,260000,GK
4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM
5,E. Hazard,27,Belgium,Chelsea,93000000,340000,LF
6,L. Modrić,32,Croatia,Real Madrid,67000000,420000,RCM
7,L. Suárez,31,Uruguay,FC Barcelona,80000000,455000,RS
8,Sergio Ramos,32,Spain,Real Madrid,51000000,380000,RCB
9,J. Oblak,25,Slovenia,Atlético Madrid,68000000,94000,GK
10,R. Lewandowski,29,Poland,FC Bayern München,77000000,205000,ST
11,T. Kroos,28,Germany,Real Madrid,76500000,355000,LCM
12,D. Godín,32,Uruguay,Atlético Madrid,44000000,125000,CB
13,David Silva,32,Spain,Manchester City,60000000,285000,LCM
14,N. Kanté,27,France,Chelsea,63000000,225000,LDM
15,P. Dybala,24,Argentina,Juventus,89000000,205000,LF
16,H. Kane,24,England,Tottenham Hotspur,83500000,205000,ST
17,A. Griezmann,27,France,Atlético Madrid,78000000,145000,CAM
18,M. ter Stegen,26,Germany,FC Barcelona,58000000,240000,GK
19,T. Courtois,26,Belgium,Real Madrid,53500000,240000,GK
20,Sergio Busquets,29,Spain,FC Barcelona,51500000,315000,CDM
21,E. Cavani,31,Uruguay,Paris Saint-Germain,60000000,200000,LS
22,M. Neuer,32,Germany,FC Bayern München,38000000,130000,GK
23,S. Agüero,30,Argentina,Manchester City,64500000,300000,ST
24,G. Chiellini,33,Italy,Juventus,27000000,215000,LCB

In [7]:
s = small_df.Nationality.value_counts()

In [8]:
s

Spain        4
Uruguay      3
Belgium      3
Germany      3
Argentina    3
France       2
Brazil       1
Portugal     1
Italy        1
Croatia      1
Poland       1
Slovenia     1
England      1
Name: Nationality, dtype: int64

In [9]:
s.index[0]

'Spain'

In [10]:
s['Germany']

3

In [11]:
s.loc[s==3]

Uruguay      3
Belgium      3
Germany      3
Argentina    3
Name: Nationality, dtype: int64

In [14]:
cl = df.Club.value_counts()
len(cl)

650

In [20]:
cl

Shonan Bellmare      30
V-Varen Nagasaki     30
FC Emmen             29
De Graafschap        29
Vissel Kobe          29
                     ..
Dijon FCO             8
Vitória Guimarães     7
GD Chaves             7
Dinamo Zagreb         7
Atlético Mineiro      6
Name: Club, Length: 650, dtype: int64

In [26]:
cl.loc[cl==cl.min()]

Atlético Mineiro    6
Name: Club, dtype: int64

In [27]:
cl['Atlético Mineiro']

6

In [28]:
pg = df.Position.value_counts(normalize=True)

In [30]:
pg.loc[pg>0.1]

GK    0.127239
ST    0.117237
CB    0.108785
Name: Position, dtype: float64

In [32]:
len(pg.loc[pg<0.01])

9

In [33]:
pg.loc[pg<0.01]

LS     0.009382
RS     0.008839
RWB    0.005428
LWB    0.004652
CF     0.003954
LF     0.000620
LAM    0.000465
RF     0.000465
RAM    0.000388
Name: Position, dtype: float64

In [34]:
small_df = df[df.columns[0:7]].head(25)

In [35]:
s = small_df['Wage'].value_counts(bins=4)

In [38]:
display(s)

(211750.0, 329500.0]     9
(93528.999, 211750.0]    8
(329500.0, 447250.0]     6
(447250.0, 565000.0]     2
Name: Wage, dtype: int64

In [39]:
s.index

IntervalIndex([(211750.0, 329500.0], (93528.999, 211750.0], (329500.0, 447250.0], (447250.0, 565000.0]],
              closed='right',
              dtype='interval[float64]')

In [40]:
s.index[3]

Interval(447250.0, 565000.0, closed='right')

In [41]:
s.index[3].left

447250.0

In [42]:
s.index[3].right

565000.0

In [43]:
small_df['Wage'] > s.index[3].left

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7      True
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
Name: Wage, dtype: bool

In [44]:
df1 = df.FKAccuracy.value_counts(bins=5)

In [48]:
df1

(21.2, 39.4]     4859
(39.4, 57.6]     3957
(57.6, 75.8]     2108
(2.908, 21.2]    1760
(75.8, 94.0]      213
Name: FKAccuracy, dtype: int64