In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data_sf.csv.xls')

У какого процента испанских специалистов (Nationality = 'Spain') зарплата (Wage) находится в пределах 25% минимума от наблюдаемого уровня зарплат? Ответ дайте в виде целого числа (округлите полученный результат) без знака %.

Подсказка: Для решения задачи используйте value_counts() с параметром bins = 4.

In [5]:
df_1 = df['Wage'].value_counts(bins=4,normalize=True)
display(df_1)

(435.999, 142000.0]     0.993875
(142000.0, 283000.0]    0.004730
(283000.0, 424000.0]    0.001241
(424000.0, 565000.0]    0.000155
Name: Wage, dtype: float64

In [12]:
df[(df.Nationality=='Spain')&(df.Wage<df_1.index[0].right)]

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
67,67,Thiago,27,Spain,FC Bayern München,45500000,130000,CM,72,69,...,75,85,67,63,65,6,11,7,9,13
76,76,Iniesta,34,Spain,Vissel Kobe,21500000,21000,LF,77,70,...,71,89,67,57,56,6,13,6,13,7
83,83,Saúl,23,Spain,Atlético Madrid,50500000,77000,RCM,69,78,...,55,83,77,79,76,7,13,12,10,9
86,86,Koke,26,Spain,Atlético Madrid,45000000,88000,LM,86,72,...,59,78,80,69,51,14,12,5,10,13
90,90,Parejo,29,Spain,Valencia CF,37000000,66000,RCM,84,79,...,83,78,69,68,60,5,9,12,14,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11750,11977,Cristian Arco,23,Spain,Cádiz CF,90000,1000,GK,17,13,...,23,24,12,19,17,56,53,55,53,52
11777,12004,Taliby,21,Spain,CD Numancia,100000,1000,GK,12,9,...,16,35,23,10,12,55,53,51,53,61
11822,12049,Víctor Gómez,18,Spain,RCD Espanyol,160000,1000,LB,51,23,...,37,42,56,48,46,11,9,12,12,6
11976,12205,Hugo Díaz,21,Spain,Leeds United,180000,4000,CB,22,23,...,37,37,60,61,59,15,14,15,8,11
12621,12850,Carlos Mendes Gomes,19,Spain,Morecambe,60000,1000,CAM,35,46,...,42,39,38,27,26,10,6,8,12,11

In [16]:
len(df[(df.Nationality=='Spain')&(df.Wage>df_1.index[0].left)&(df.Wage<df_1.index[0].right)])/len(df[(df.Nationality=='Spain')])

0.9850968703427719

Укажите количество уникальных сборных (Nationality), к которым относятся футболисты, выступающие за клуб (Club) "Manchester United".

In [9]:
df_clubs = df[df['Club']=='Manchester United'].Nationality.unique()
len(df_clubs)

13

С помощью функции unique определите двух футболистов из Бразилии (Nationality = 'Brazil'), выступающих за клуб (Club) 'Juventus'. Перечислите их имена (Name, как в датафрейме) через запятую в алфавитном порядке.

In [12]:
df_mu = df[(df['Nationality']=='Brazil')&(df['Club']=='Juventus')]['Name'].unique()
df_mu

array(['Alex Sandro', 'Douglas Costa'], dtype=object)

Укажите, какой из клубов (Club) насчитывает большее количество футболистов возрастом (Age) старше 35 лет.

In [15]:
df_35 = df[(df['Age']>35)]['Club'].value_counts()
df_35

Hokkaido Consadole Sapporo    4
Club Atlético Huracán         4
Benevento                     3
Hammarby IF                   3
Club Atlético Colón           3
                             ..
Cádiz CF                      1
LASK Linz                     1
IFK Norrköping                1
Red Star FC                   1
SpVgg Unterhaching            1
Name: Club, Length: 212, dtype: int64

С помощью функции value_counts с параметром bins разбейте всех футболистов сборной (Nationality) Аргентины ('Argentina') на 4 равные группы. Укажите, сколько футболистов в возрасте от 34.75 до 41 года в сборной Аргентины.

In [16]:
df_agr = df[df['Nationality']=='Argentina']['Age'].value_counts(bins=4)

In [17]:
df_agr

(22.25, 28.5]      200
(15.974, 22.25]    197
(28.5, 34.75]      128
(34.75, 41.0]       49
Name: Age, dtype: int64

Сколько процентов футболистов из Испании (Nationality = 'Spain') имеют возраст (Age) 21 год? Введите с точностью до 2 знаков после запятой без указания знака % (например, 12.35).

In [21]:
df_21 = df[df['Nationality']=='Spain']['Age'].value_counts(normalize=True)

In [22]:
df_21

21    0.117735
22    0.095380
20    0.077496
23    0.071535
25    0.064083
27    0.062593
24    0.059613
28    0.053651
26    0.053651
29    0.047690
19    0.047690
18    0.038748
30    0.038748
31    0.032787
32    0.032787
33    0.031297
34    0.022355
17    0.013413
35    0.011923
36    0.010432
37    0.008942
39    0.002981
16    0.002981
38    0.001490
Name: Age, dtype: float64