In [1]:
import pandas as pd

data = pd.Series(["Январь", "Февраль", "Март", "Апрель"],
                 index = ['Первый', "Второй", "Третий", "Четвёртый"])
display(data)

Первый        Январь
Второй       Февраль
Третий          Март
Четвёртый     Апрель
dtype: object

In [2]:
data.loc[["Первый", "Третий"]]

Первый    Январь
Третий      Март
dtype: object

In [3]:
data = pd.Series(list(range(10, 1001)))

In [5]:
print(data.loc[10],data.loc[23],data.loc[245],data.iloc[122])

20 33 255 132

In [4]:
print(data.loc[10] + data.loc[23] - data.loc[245] + data.iloc[122])

-70

In [6]:
data

0        10
1        11
2        12
3        13
4        14
       ...
986     996
987     997
988     998
989     999
990    1000
Length: 991, dtype: int64

In [10]:
pd.DataFrame({'Тестовая колонка':[1,5]})

   Тестовая колонка
0                 1
1                 5