In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data_sf.csv.xls')

In [ ]:
df.iloc()

In [3]:
df2 = df.pivot_table(columns = 'Position', index = 'Club', values = 'Wage', aggfunc = 'max')

In [4]:
df2

Position,CAM,CB,CDM,CF,CM,GK,LAM,LB,LCB,LCM,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
Club,,,,,,,,,,,,,,,,,,,,,
SSV Jahn Regensburg,NaN,5000.0,5000.0,NaN,4000.0,5000.0,NaN,6000.0,NaN,NaN,...,4000.0,8000.0,NaN,5000.0,NaN,NaN,NaN,NaN,NaN,3000.0
1. FC Heidenheim 1846,5000.0,7000.0,NaN,NaN,1000.0,4000.0,NaN,6000.0,6000.0,NaN,...,6000.0,3000.0,NaN,NaN,NaN,3000.0,NaN,NaN,NaN,4000.0
1. FC Kaiserslautern,NaN,1000.0,1000.0,NaN,NaN,1000.0,NaN,2000.0,2000.0,NaN,...,2000.0,NaN,NaN,2000.0,NaN,2000.0,2000.0,NaN,NaN,1000.0
1. FC Köln,NaN,1000.0,10000.0,NaN,3000.0,25000.0,NaN,NaN,NaN,NaN,...,5000.0,NaN,NaN,NaN,NaN,18000.0,NaN,NaN,NaN,NaN
1. FC Magdeburg,NaN,7000.0,NaN,4000.0,NaN,6000.0,NaN,2000.0,5000.0,4000.0,...,NaN,3000.0,3000.0,NaN,NaN,5000.0,8000.0,4000.0,NaN,1000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zagłębie Sosnowiec,2000.0,1000.0,1000.0,NaN,NaN,1000.0,NaN,1000.0,1000.0,NaN,...,1000.0,1000.0,NaN,1000.0,NaN,1000.0,NaN,NaN,NaN,2000.0
Çaykur Rizespor,11000.0,11000.0,13000.0,NaN,NaN,3000.0,NaN,7000.0,4000.0,NaN,...,6000.0,NaN,NaN,10000.0,NaN,12000.0,NaN,NaN,NaN,2000.0
Örebro SK,NaN,2000.0,NaN,NaN,1000.0,2000.0,NaN,NaN,2000.0,2000.0,...,NaN,2000.0,2000.0,NaN,NaN,NaN,NaN,2000.0,1000.0,2000.0
Östersunds FK,1000.0,1000.0,NaN,3000.0,8000.0,1000.0,NaN,2000.0,3000.0,5000.0,...,1000.0,1000.0,NaN,NaN,NaN,2000.0,NaN,1000.0,NaN,1000.0
Śląsk Wrocław,NaN,1000.0,3000.0,NaN,1000.0,2000.0,NaN,3000.0,2000.0,NaN,...,2000.0,4000.0,NaN,3000.0,NaN,3000.0,4000.0,NaN,NaN,1000.0

In [26]:
df2.loc['Manchester City']['GK']

125000.0

In [8]:
pivot = df.loc[df['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(values=['Wage'],
index=['Nationality'],
columns=['Club'],
aggfunc='sum',
margins=True,
fill_value=0)
display(pivot)

                           Wage                                         \
Club               FC Barcelona Juventus Manchester United Real Madrid
Nationality
Argentina                565000   205000            206000           0
Belgium                  110000        0            230000      240000
Bosnia Herzegovina            0   180000                 0           0
Brazil                   465000   335000             91000      570000
Chile                    205000        0            215000           0
Costa Rica                    0        0                 0      195000
Croatia                  260000   160000                 0      420000
Dominican Republic            0        0                 0      140000
Ecuador                       0        0            120000           0
England                       0        0            478000           0
France                   495000   145000            375000      459000
Germany                  240000   160000                 0      355000
Italy                         0   460000             88000           0
Ivory Coast                   0        0            105000           0
Morocco                       0   160000                 0           0
Netherlands              135000        0                 0           0
Poland                        0   125000                 0           0
Portugal                 125000   405000                 0           0
Scotland                      0        0             11000           0
Serbia                        0        0            165000           0
Spain                    912000        0            260000     1404000
Uruguay                  455000        0                 0           0
Wales                         0        0             13000      355000
All                     3967000  2335000           2357000     4138000


Club                     All
Nationality
Argentina             976000
Belgium               580000
Bosnia Herzegovina    180000
Brazil               1461000
Chile                 420000
Costa Rica            195000
Croatia               840000
Dominican Republic    140000
Ecuador               120000
England               478000
France               1474000
Germany               755000
Italy                 548000
Ivory Coast           105000
Morocco               160000
Netherlands           135000
Poland                125000
Portugal              530000
Scotland               11000
Serbia                165000
Spain                2576000
Uruguay               455000
Wales                 368000
All                 12797000

In [11]:
pivot.loc['Morocco']

      Club
Wage  FC Barcelona              0
      Juventus             160000
      Manchester United         0
      Real Madrid               0
      All                  160000
Name: Morocco, dtype: int64

Создайте сводную таблицу, содержащую сведения о количестве игроков, занимающих разные позиции в каждом клубе. Отсутствующие значения замените нулями.

Каково среднее количество вратарей (GK) в клубе? Ответ округлите до трёх цифр после запятой.

In [40]:
pivot = df.pivot_table(values=['Wage'],
index=['Position'],
columns=['Club'],
aggfunc='count',
fill_value=0)
display(pivot)

                         Wage                                             \
Club      SSV Jahn Regensburg 1. FC Heidenheim 1846 1. FC Kaiserslautern
Position
CAM                         0                     1                    0
CB                          5                     3                    3
CDM                         1                     0                    3
CF                          0                     0                    0
CM                          2                     1                    0
GK                          3                     2                    3
LAM                         0                     0                    0
LB                          2                     2                    2
LCB                         0                     1                    1
LCM                         0                     0                    0
LDM                         1                     0                    0
LF                          0                     0                    0
LM                          2                     2                    2
LS                          0                     0                    1
LW                          0                     0                    1
LWB                         0                     0                    0
RAM                         1                     0                    0
RB                          2                     2                    2
RCB                         1                     1                    0
RCM                         0                     0                    0
RDM                         1                     0                    1
RF                          0                     0                    0
RM                          0                     3                    2
RS                          0                     0                    1
RW                          0                     0                    0
RWB                         0                     0                    0
ST                          3                     2                    1

                                                                       \
Club     1. FC Köln 1. FC Magdeburg 1. FC Nürnberg 1. FC Union Berlin
Position
CAM               0               0              1                  1
CB                1               4              1                  2
CDM               1               0              2                  2
CF                0               1              0                  0
CM                2               0              1                  1
GK                3               3              1                  1
LAM               0               0              0                  0
LB                0               1              1                  2
LCB               0               1              0                  1
LCM               0               1              0                  0
LDM               0               0              0                  0
LF                0               0              0                  0
LM                0               0              0                  0
LS                0               1              0                  0
LW                0               0              0                  0
LWB               1               0              0                  0
RAM               0               0              0                  0
RB                1               0              1                  1
RCB               0               1              0                  0
RCM               0               1              0                  0
RDM               0               0              0                  0
RF                0               0              0                  0
RM                1               3              2                  0
RS                0               1              0                  0
RW                0               2              0                  0
RWB               0               0              0                  0
ST                0               1              3                  0

                                                ...                    \
Club     1. FSV Mainz 05 AC Ajaccio AC Horsens  ... Wycombe Wanderers
Position                                        ...
CAM                    0          3          0  ...                 0
CB                     2          1          3  ...                 3
CDM                    0          0          1  ...                 0
CF                     0          0          0  ...                 0
CM                     1          1          2  ...                 4
GK                     1          1          3  ...                 2
LAM                    0          0          0  ...                 0
LB                     1          3          3  ...                 1
LCB                    0          1          1  ...                 1
LCM                    1          0          1  ...                 1
LDM                    0          1          0  ...                 0
LF                     0          0          0  ...                 0
LM                     0          1          2  ...                 0
LS                     0          0          1  ...                 1
LW                     2          0          0  ...                 3
LWB                    0          0          0  ...                 0
RAM                    0          0          0  ...                 0
RB                     1          1          1  ...                 2
RCB                    0          1          1  ...                 1
RCM                    0          0          1  ...                 1
RDM                    0          1          0  ...                 0
RF                     0          0          0  ...                 0
RM                     0          1          2  ...                 1
RS                     1          0          1  ...                 1
RW                     0          0          0  ...                 1
RWB                    0          0          0  ...                 0
ST                     1          3          2  ...                 1

                                                                          \
Club     Yeni Malatyaspor Yeovil Town Yokohama F. Marinos Zagłębie Lubin
Position
CAM                     2           0                   3              0
CB                      2           3                   4              0
CDM                     3           0                   2              2
CF                      0           0                   0              0
CM                      2           1                   1              1
GK                      4           3                   4              3
LAM                     0           0                   0              0
LB                      1           2                   1              2
LCB                     0           1                   0              1
LCM                     0           1                   1              0
LDM                     1           0                   0              2
LF                      0           0                   0              0
LM                      2           2                   1              2
LS                      0           1                   0              0
LW                      0           0                   1              0
LWB                     0           0                   0              0
RAM                     0           0                   0              0
RB                      2           2                   2              2
RCB                     0           1                   0              1
RCM                     0           1                   1              0
RDM                     0           0                   0              1
RF                      0           0                   0              0
RM                      1           5                   1              4
RS                      0           1                   0              0
RW                      0           0                   1              0
RWB                     0           0                   0              0
ST                      2           4                   3              4

                                                                     \
Club     Zagłębie Sosnowiec Çaykur Rizespor Örebro SK Östersunds FK
Position
CAM                       3               1         0             1
CB                        2               2         4             1
CDM                       2               5         0             0
CF                        0               0         0             1
CM                        0               0         1             3
GK                        3               3         3             3
LAM                       0               0         0             0
LB                        3               2         0             2
LCB                       1               1         1             1
LCM                       0               0         1             1
LDM                       1               1         0             0
LF                        0               0         0             0
LM                        4               1         0             2
LS                        0               0         0             0
LW                        0               0         3             0
LWB                       0               0         2             0
RAM                       0               0         0             0
RB                        1               3         0             1
RCB                       1               0         1             1
RCM                       0               0         1             0
RDM                       1               1         0             0
RF                        0               0         0             0
RM                        2               1         0             1
RS                        0               0         0             0
RW                        0               0         2             1
RWB                       0               0         2             0
ST                        1               1         5             1


Club     Śląsk Wrocław
Position
CAM                  0
CB                   1
CDM                  3
CF                   0
CM                   1
GK                   3
LAM                  0
LB                   2
LCB                  1
LCM                  0
LDM                  1
LF                   0
LM                   2
LS                   1
LW                   0
LWB                  0
RAM                  0
RB                   2
RCB                  1
RCM                  0
RDM                  1
RF                   0
RM                   2
RS                   1
RW                   0
RWB                  0
ST                   2

[27 rows x 650 columns]

In [41]:
pivot.loc['GK'].sum()/len(pivot.loc['GK'])

2.5246153846153847

Используя таблицу, созданную на предыдущем шаге, определите, сколько клубов не содержат данных о центральных полузащитниках. (CM)

Подсказка: для выполнения этого задания желательно сохранить сводную таблицу в виде отдельного датафрейма и сгруппировать часть данных этого датафрейма с помощью value_counts().

In [42]:
task2_df = pivot

In [47]:
task2_df.loc['CM'].value_counts()

1    211
2    149
0    136
3     89
4     39
5     21
6      5
Name: CM, dtype: int64