In [13]:
import os
import pandas as pd

In [3]:
files = os.listdir('data')

In [4]:
files

['ratings_8.txt',
 'ratings_9.txt',
 'ratings_10.txt',
 'ratings_7.txt',
 'ratings_6.txt',
 'ratings_4.txt',
 'ratings_5.txt',
 'ratings_1.txt',
 'ratings_2.txt',
 'ratings_3.txt']

In [5]:
files = ['setup.py', 'ratings.txt', 'stock_stats.txt', 'movies.txt', 'run.sh', 'game_of_thrones.mov']

In [11]:
data = [x for x in files if x.find('txt')!=-1]

In [12]:
new_files_list

['ratings.txt', 'stock_stats.txt', 'movies.txt']

In [8]:
strt = 'werwerwerwer.txt'

In [10]:
strt.find('.txte')

-1

In [21]:
data = pd.DataFrame(columns = ['userId', 'movieId', 'rating', 'timestamp'])
for root,dirs,files in os.walk('data'):
    for file in files:
        if file.find('.txt')>-1:
            print(f'{dirs}/{file}')
            temp = pd.read_csv(os.path.join('data', file),names = ['userId', 'movieId', 'rating', 'timestamp'])
            data = pd.concat([data,temp])

[]/ratings_8.txt
[]/ratings_9.txt
[]/ratings_10.txt
[]/ratings_7.txt
[]/ratings_6.txt
[]/ratings_4.txt
[]/ratings_5.txt
[]/ratings_1.txt
[]/ratings_2.txt
[]/ratings_3.txt

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100004 entries, 0 to 9999
Data columns (total 4 columns):
userId       100004 non-null object
movieId      100004 non-null object
rating       100004 non-null float64
timestamp    100004 non-null object
dtypes: float64(1), object(3)
memory usage: 3.8+ MB

In [24]:
rtgs = pd.read_csv('ratings.csv.xls')

In [26]:
rtgs[rtgs['rating']==0.5]

        userId  movieId  rating   timestamp
261          3       31     0.5  1306463578
262          3      527     0.5  1306464275
263          3      647     0.5  1306463619
264          3      688     0.5  1306464228
265          3      720     0.5  1306463595
...        ...      ...     ...         ...
99394      608     6827     0.5  1117519648
99408      608     7004     0.5  1117506252
100345     610    61818     0.5  1493848943
100415     610    72424     0.5  1493849030
100797     610   145951     0.5  1493849019

[1370 rows x 4 columns]

In [37]:
mov = pd.read_csv('movies.csv.xls')

In [38]:
mov_merge = mov.merge(rtgs,on='movieId',how='outer')

In [39]:
mov_merge

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,9.649827e+08
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,8.474350e+08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,1.106636e+09
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,1.510578e+09
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,1.305696e+09
...,...,...,...,...,...,...
100849,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,184.0,4.0,1.537109e+09
100850,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,184.0,3.5,1.537110e+09
100851,193585,Flint (2017),Drama,184.0,3.5,1.537110e+09
100852,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184.0,3.5,1.537110e+09
100853,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,331.0,4.0,1.537158e+09

In [40]:
mov[mov['movieId']==3456]

      movieId                                         title genres
2587     3456  Color of Paradise, The (Rang-e khoda) (1999)  Drama

In [43]:
rtgs[rtgs['movieId']==3456]

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []