In [1]:
import pandas as pd

In [2]:
ratings = pd.read_csv('ratings_example.txt', sep = '\t')
movies = pd.read_csv('movies_example.txt', sep = '\t')


ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144

In [3]:
movies.head()

   movieId                                      title                   genres
0       31                    Dangerous Minds (1995)                     Drama
1       32  Twelve Monkeys (a.k.a. 12 Monkeys) (1995)  Mystery|Sci-Fi|Thriller
2       31                    Dangerous Minds (1995)                     Drama

In [19]:
jnd = ratings.merge(movies, on = 'movieId', how='outer')
jnd

,userId,movieId,rating,timestamp,title,genres
0,1.0,31,2.5,1.260759e+09,Dangerous Minds (1995),Drama
1,1.0,31,2.5,1.260759e+09,Dangerous Minds (1995),Drama
2,NaN,32,NaN,NaN,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller

In [7]:
jnd

,movieId,title,genres,userId,rating,timestamp
0,31,Dangerous Minds (1995),Drama,1.0,2.5,1.260759e+09
1,32,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller,NaN,NaN,NaN
2,31,Dangerous Minds (1995),Drama,1.0,2.5,1.260759e+09

In [8]:
jnd.drop_duplicates()

,movieId,title,genres,userId,rating,timestamp
0,31,Dangerous Minds (1995),Drama,1.0,2.5,1.260759e+09
1,32,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller,NaN,NaN,NaN

In [9]:
jnd

,movieId,title,genres,userId,rating,timestamp
0,31,Dangerous Minds (1995),Drama,1.0,2.5,1.260759e+09
1,32,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller,NaN,NaN,NaN
2,31,Dangerous Minds (1995),Drama,1.0,2.5,1.260759e+09